<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stratage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Stratage.Properties.Settings>
            <setting name="Stratage_localhost_JavaCompilerWebServiceImplService"
                serializeAs="String">
                <value>http://localhost:1986/wss/hello</value>
            </setting>
            <setting name="Stratage_WebReference_service" serializeAs="String">
                <value>http://127.0.0.1:3000/compiler/action</value>
            </setting>
        </Stratage.Properties.Settings>
    </applicationSettings>
</configuration>